# Rust often needs a bit of an extra main task stack size compared to C (the default is 3K)
CONFIG_ESP_MAIN_TASK_STACK_SIZE=16384

CONFIG_SCCB_HARDWARE_I2C_DRIVER_LEGACY=y

# CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
# CONFIG_ESP_CONSOLE_UART_DEFAULT=n
# CONFIG_CONSOLE_UART_BAUDRATE=921600

# force legacy I²C driver
# CONFIG_I2C_ENABLE_LEGACY_API=y
# CONFIG_I2C_ENABLE_DRIVER_NG=n

# silence the warning about pcnt legacy
# CONFIG_PCNT_ENABLE_LEGACY_API=y
# CONFIG_PCNT_ENABLE_DRIVER_NG=n

# Use this to set FreeRTOS kernel tick frequency to 1000 Hz (100 Hz by default).
# This allows to use 1 ms granularity for thread sleeps (10 ms by default).
CONFIG_FREERTOS_HZ=1000

# Workaround for https://github.com/espressif/esp-idf/issues/7631
#CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=n
#CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=n

CONFIG_ESP32S3_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_ESP32S3_DATA_CACHE_LINE_64B=y

# Camera-friendly settings
CONFIG_ESP32S3_DATA_CACHE_LINE_64B=y
CONFIG_ESP32S3_CACHE_LOCK_SUPPORT=y

# Heap / DMA
CONFIG_HEAP_POISONING_DISABLED=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_USE_CAPS_ALLOC=y

# Camera driver settings
CONFIG_ESP32_CAMERA_LOG_LEVEL_DEBUG=y

CONFIG_CAMERA_PSRAM_DMA=y
CONFIG_CAMERA_CORE0=n
CONFIG_CAMERA_CORE1=y

CONFIG_SPI_MASTER_ISR_IN_IRAM=n

# RMT
CONFIG_RMT_TX_ISR_CACHE_SAFE=y
CONFIG_RMT_ENABLE_DEBUG_LOG=y
CONFIG_LOG_DEFAULT_LEVEL=4
